
.session-sheet-grid {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 6px; 
}

.session-grid-header,
.session-sheet-row {
    display: grid;
    grid-template-columns: 2fr 2fr repeat(18, 1fr);
    text-align: center;
    gap: 5px;
    width: 100%;
}

.session-grid-header {
    font-weight: bold;
}

.session-sheet-row {
    font-weight: normal;
}

.session-sheet-notes {
    grid-column: 1 / -1;
    text-align: left;
    border-bottom: 5px solid #ddd;
}