.location-sheet-grid {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.location-grid-header,
.location-sheet-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 5px;
}

.location-grid-header {
    font-weight: bold;
}

.location-sheet-row {
    font-weight: normal;
}

.location-sheet-notes {
    grid-column: 1 / -1;
    text-align: left;
    border-bottom: 5px solid #ddd;
}