<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Grace Jaeger, Clearings and Blessings</h1>

        <a href="{% url 'admin_dashboard' %}">Select Primary Client</a>
        <a href="{% url 'admin_create_user' %}">Create New Account</a>
        <button type="submit">Logout</button>
    </header>
    
    <form method="post">
        {% csrf_token %}
        {{ client_form.as_p }}
        {{ user_form.as_p }}
        <button type="submit">
            Create User
        </button>
    </form>

    {% if messages %}   
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


</body>
</html>