{% extends "admin_dashboard.html" %}

{% block content %}
<h3>Account Overview Page</h3>

<h4>Clients on this account:</h4>
<ul>
    {% for client in clients %}
        <li>
            {{ client }}
            <a href="{% url 'client_edit' client.id %}" class='lesser-link'>Edit</a>
            <a href="{% url 'client_delete' client.id %}" class='lesser-link'>Delete</a>
        </li>
    {% empty %}
        <li>No clients found.</li>
    {% endfor %}
</ul>

<h4>Locations</h4>
<ul>
    {% for location in locations %}
        <li>
            {{ location }}
            <a href="{% url 'location_edit' location.id %}" class='lesser-link'>Edit</a>
            <a href="{% url 'location_delete' location.id %}" class='lesser-link'>Delete</a>
        </li>
    {% empty %}
        <li>No locations found.</li>
    {% endfor %}
</ul>
{% endblock %}