{% extends "admin_dashboard.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}


{% block content %}

<h3>Deactivate Account</h3>

{% if selected_client %}
    <p>You are about to deactivate <strong>{{ selected_client.first_name }} {{selected_client.last_name}}'s account.</p>
    <p>You will be able to reactivate their account later.</p>
{% else %}
    <p>No client selected.</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label>
        {{ form.as_p }}
        <a href="{% url 'admin_client_overview' %}" class='button-link-cancel'>Cancel</a>
        <button type="submit" class='delete-button'>Deactivate</button>
    </label>
</form>

{% endblock content %}