<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New User</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
</head>
<body>
    <header style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Rev. Grace Evangeline, Clearings and Blessings</h1>

        <a href="{% url 'admin_dashboard' %}" class='button-link'>Select Primary Client</a>
        <a href="{% url 'admin_create_user' %}" class='button-link'>Create New Account</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class='button-link'>Logout</button>
        </form>
    </header>

    <form method="post">
    {% csrf_token %}

    {% for field in client_form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
        </p>
    {% endfor %}

    {% for field in user_form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
        </p>
    {% endfor %}

    {% if client_form.errors or user_form.errors %}
        <div class="form-errors" style="color: red; margin-bottom: 1em;">
            {% for field, errors in client_form.errors.items %}
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}

            {% for field, errors in user_form.errors.items %}
                {% for error in errors %}
                    <p class='p-error'>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <button type="submit" class='lesser-link'>Create User</button>
</form>
    

    {% comment %}
    <form method="post">
        {% csrf_token %}
        {{ client_form.as_p }}
        {{ user_form.as_p }}
        <button type="submit" class='lesser-link'>
            Create User
        </button>
    </form>

    {% if messages %}   
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endcomment %}


</body>
</html>