<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/prev_location_sheets.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/prev_session_sheets.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/update_forms.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Grace Jaeger, Clearings and Blessings</h1>

        <a href="{% url 'reset_client_selection' %}">Select Primary Client</a>
        <a href="{% url 'admin_create_user' %}">Create New Account</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </header>


    <main>   
        {% if selected_client %}
            <div class="secondary_navbar">
                <h3>{{ selected_client.first_name }} {{selected_client.last_name }}</h3>
                <a href="{% url 'admin_client_overview' %}">Overview</a>
                <a href="{% url 'admin_new_session_sheet' %}">New Session</a>
                <a href="{% url 'admin_prev_client_sessions' %}">Previous Sessions</a>
                <a href="{% url 'admin_update_client_account' %}">Update Account</a>
                <a href="{% url 'admin_delete_user_profile' %}">Delete Account</a>
            </div>
        {% else %}
            <h2>Select the Primary Client</h2>

            <form method="post">
                {% csrf_token %}
                {{ form.client.label_tag }}
                {{ form.client }}
                <button type="submit">Select</button>
            </form>
        {% endif %} 
        
        {% block content %}
        {% endblock content %}

    </main>

</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        // Enhance the select element
        $('#id_client').select2({
            placeholder: "Select a client",
            allowClear: true
        });
    });
</script>
</html>