<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
</head>
<body>
    <header>
        <h1>Rev. Grace Evangeline, Clearings and Blessings</h1>    
    </header>

    <main>
        <form method="post" class="login-form">
            {% csrf_token %}
    
            {{ form.email }}
            {{ form.password }}
    
            <button type="submit" class='button-link'>
                Log In
            </button>
        </form>   
    </main>
    
</body>
</html>