<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>
<body>
    <header>
        <h1>Rev. Grace Evangeline, Clearings and Blessings</h1>    
    </header>

    <main>
        <form method="post">
            {% csrf_token %}
    
            {{ form.email }}
            {{ form.password }}
    
            <button type="submit">
                Log In
            </button>
        </form>   
    </main>
    
</body>
</html>